<footer class="container m-auto p-5 w-5/6 text-white">
    <hr>
    <%if(user){%>
        <a class="inline-block rounded py-2 px-5 bg-gray-200 mt-5 hover:text-green-600" style="background-color: #191919;" href="/podcasts">All Podcast</a>
        <%}%>
</footer>
</body>

</html>