<%include partials/header%>
    <form action="/podcasts" method="post" class="flex bg-white w-fit rounded-xl my-12 flex-col items-center justify-center container m-auto p-4" enctype="multipart/form-data">
        <p class="font-bold text-l">Create Your Own Podcast</p>
        <input style="width: 360px;" class="block bg-gray-200 pr-5 pl-3 py-1 border-b-3 mt-3 rounded-md" type="text" placeholder="Add name" name="name">
        <input style="width: 364px;" class="block bg-gray-200 text-[14px] pr-5 pl-3 py-1 border-b-3 mt-3 rounded-md" type="file" placeholder="Add image" name="image">
        <textarea name="description" class="block bg-gray-200 pr-5 pl-3 py-1 border-b-3 mt-3 rounded-md" cols="38" rows="8"></textarea>
        <%if(user.isAdmin){%>
            <select style="width: 364px;" class="w-fit block bg-gray-200 pr-5 pl-3 py-1 border-b-3 mt-3 rounded-md" name="podcastsType">
        <option value="free member">Free member</option>
        <option value="VIP member">VIP member</option>
        <option value="premium member">Premium member</option>
      </select>
            <%}%>
                <input style="width: 360px;" class="block py-1 px-5  bg-black rounded-2xl mt-4 text-white hover:text-gray-400 border-b-3 mt-3 rounded-md" type="submit">
    </form>
    <%include partials/footer%>